<%= render :partial => 'user_mailer/header', :locals => {} %> 

<div style="font-weight: 100; font-size: 20px;" >
  Your email has been sent to us, <%= @user.first_name %>
</div>

  
  <br>
  <% if @message %>
  	<%= @message.html_safe %>
  <% else %>
  	Thanks for your feedback. <br />
  	Your request will be answered soon.
  <% end -%>


<br><br>

Cheers<br>
<!-- NAME -->

<%= render :partial => 'user_mailer/footer', :locals => {} %> 
