// Colores Win8
$orange: #f4b300;
$orange-border: #252525;

$lightorange: #e1b700;
$lightorange-border: #d39d09;

$darkorange: #ff991d;
$darkorange-border: #e66b1b;

$green: #78ba00;
$green-border: #252525;

$lightgreen: #91d100;
$lightgreen-border: #82ba1b;

$blue: #2773ed;
$blue-border: #252525;

$burdeaux: #ae113e;
$burdeaux-border: #252525;

$red: #b11d01;
$red-border: #311600;

$pink: #ff76bc;
$pink-border: #e165bb;

$darkpink: #c1004f;
$darkpink-border: #4f023a;

$purple: #7200ad;
$purple-border: #2e0251;

$cyan: #686868;
$cyan-border: #00a4a5;

$cyan: #686868;
$cyan-border: #00a4a5;

