.navbar.navbar-fixed-bottom
  %nav.navbar-inner
    .container.brainshots
      Programado por
      = link_to "http://brainshots.cl", :target => '_blank' do
        = image_tag "logo_brainshots.png", :class => 'logo'